Body {
  background-color: black;
}

h1 {
  text-align: center;
  color: white;
  font-family: 'Inknut Antiqua', serif;
}

li {
  display: inline-block;
  list-style: none;
  padding-right: 10px;
}

nav {
  background-color: purple;
}

#game-start {
  margin-bottom: 50px;
}

#game-reset {
  margin-top: 50px;
}

.Circle {
  height: 160px;
  width: 160px;
}

.green {
  background-color: green;
  border-radius: 250px 5px 5px 5px;
}

.red {
  background-color: red;
  border-radius: 5px 250px 5px 5px;
}

.blue {
  background-color: blue;
  border-radius: 5px 5px 5px 250px;
}

.yellow {
  background-color: yellow;
  border-radius: 5px 5px 250px 5px;
}

#loser-message {
  color: red;
}
