body {
  height: 100%;
  background: darkgrey;
  text-align: center;
  font-family: 'Russo One', sans-serif;
}
.display {
  background: black;
  width 50%;
  height: 50px;
  position: relative;
  margin: auto;
  font-size: 35px;
  color: white;
  text-align: center;
}
.circle {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  margin: auto;
  margin-top: 40px;
  position: relative;
  box-shadow: 0 5px #525252;
  background: #161616;
}

.but {
  box-shadow: 0 9px #525252;
  transition:all 400ms linear;
}

.red {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 100% 5% 5% 5%;
  margin: 30px 0px 0px 30px;
  background: rgba(255, 255, 255, 1);
  background: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 1) 0%, rgba(139, 26, 26, 1) 78%, rgba(139, 26, 26, 1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(78%, rgba(139, 26, 26, 1)), color-stop(100%, rgba(139, 26, 26, 1)));
  background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 1) 0%, rgba(139, 26, 26, 1) 78%, rgba(139, 26, 26, 1) 100%);
  background: -o-linear-gradient(-45deg, rgba(255, 255, 255, 1) 0%, rgba(139, 26, 26, 1) 78%, rgba(139, 26, 26, 1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 1) 0%, rgba(139, 26, 26, 1) 78%, rgba(139, 26, 26, 1) 100%);
  background: linear-gradient(135deg, rgba(255, 255, 255, 1) 0%, rgba(139, 26, 26, 1) 78%, rgba(139, 26, 26, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#8b1a1a', GradientType=1);
}

.red:active {
  background: red;
  box-shadow: 0 2px #525252;
  transform: translateY(7px);
}

.redclick {
  background: red;
  box-shadow: 0 2px #525252;
  transform: translateY(7px);
}

.blue {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 5% 100% 5% 5%;
  margin: 30px 0px 0px 270px;
  background: rgba(16, 78, 139, 1);
  background: -moz-linear-gradient(45deg, rgba(16, 78, 139, 1) 0%, rgba(16, 78, 139, 1) 40%, rgba(255, 255, 255, 1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(16, 78, 139, 1)), color-stop(40%, rgba(16, 78, 139, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
  background: -webkit-linear-gradient(45deg, rgba(16, 78, 139, 1) 0%, rgba(16, 78, 139, 1) 40%, rgba(255, 255, 255, 1) 100%);
  background: -o-linear-gradient(45deg, rgba(16, 78, 139, 1) 0%, rgba(16, 78, 139, 1) 40%, rgba(255, 255, 255, 1) 100%);
  background: -ms-linear-gradient(45deg, rgba(16, 78, 139, 1) 0%, rgba(16, 78, 139, 1) 40%, rgba(255, 255, 255, 1) 100%);
  background: linear-gradient(45deg, rgba(16, 78, 139, 1) 0%, rgba(16, 78, 139, 1) 40%, rgba(255, 255, 255, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#104e8b', endColorstr='#ffffff', GradientType=1);
}

.blue:active {
  background: blue;
  box-shadow: 0 2px #525252;
  transform: translateY(7px);
}

.blueclick {
  background: blue;
  box-shadow: 0 2px #525252;
  transform: translateY(7px);
}

.green {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 5% 5% 100% 5%;
  margin: 270px 0px 0px 270px;
  box-shadow: 0 9px #525252;
  background: rgba(48, 128, 20, 1);
  background: -moz-linear-gradient(-45deg, rgba(48, 128, 20, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(48, 128, 20, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
  background: -webkit-linear-gradient(-45deg, rgba(48, 128, 20, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background: -o-linear-gradient(-45deg, rgba(48, 128, 20, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(48, 128, 20, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background: linear-gradient(135deg, rgba(48, 128, 20, 1) 0%, rgba(255, 255, 255, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#308014', endColorstr='#ffffff', GradientType=1);
}

.green:active {
  background: #00FF00;
  box-shadow: 0 2px #525252;
  transform: translateY(7px);
}

.greenclick {
  background: #00FF00;
  box-shadow: 0 2px #525252;
  transform: translateY(7px);
}

.yellow {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 5% 5% 5% 100%;
  margin: 270px 0px 0px 30px ;
  background: rgba(255, 255, 255, 1);
  background: -moz-linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(254, 182, 69, 1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(254, 182, 69, 1)));
  background: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(254, 182, 69, 1) 100%);
  background: -o-linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(254, 182, 69, 1) 100%);
  background: -ms-linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(254, 182, 69, 1) 100%);
  background: linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(254, 182, 69, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#feb645', GradientType=1);
}

.yellow:active {
  background: yellow;
  box-shadow: 0 2px #525252;
  transform: translateY(7px);
}

.yellowclick {
  background: yellow;
  box-shadow: 0 2px #525252;
  transform: translateY(7px);
}

.panel {
  position:absolute;
  height: 250px;
  width: 250px;
  border-radius: 100%;
  margin: 130px 0px 0px 125px;
  font-size: 4em;
  padding-top: 40px;
  color: grey;
  background: #161616;
}

.counter {
  height: 50px;
  width: 80px;
  margin-left: 85px;
  background-color: black;
  padding: 6px;
  color: red;
  font-size:30px;
}

.mode {
  font-size: 20px;
  width: 200px;
  background: grey;
}

.selected {
  background: darkred;
}

.start {
  position: relative;
  height: 40px;
  width: 100px;
  color: black;
  border-radius: 20%;
  margin-top: 10px;
  margin-left: 75px;
  background-color: darkred;
  font-size: 18px;
  padding-top: 8px;
  box-shadow: 0 5px #000000;
  transition: .5s ease;
}

.start:active {
  box-shadow: 0 1px #000000;
  transform: translateY(4px);
}
