body {
  margin: auto;
  background-color: #FFE900;
}

h1 {
  text-align: center;
  border-bottom: 1px solid black;
  font-family: 'Inknut Antiqua', serif;
}

li {
  display: inline-block;
  list-style: none;
  padding-right: 10px;
}

nav {
  background-color: green;
}

#message {
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  font-size: 18pt;
}

#game-reset {
  margin-top: 30px;
}

.Square {
  height: 80px;
  width: 80px;
  font-size: 60pt;
  text-align: center;
  font-weight: bold;
  font-family: 'Indie Flower', cursive;
  background-color: #EA2B1F;
}
