* {
  padding: 0px;
  margin: 0px;
}

h1 {
  color: white;
  margin: 20px;
  font-size: 50px;
}
body {
  background: #AA3939;
  text-align: center;
}

canvas {
  background: #FFAAAA;
  transition: transform 1s;
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -ms-transition: -ms-transform 1s;
  -o-transition: -o-transform 1s;

}

canvas:hover {
  width: 101px;
  height: 99px;
}

#canvasDiv {
  margin: 150px auto 40px;
  padding: 0px;
}

#reloadButton {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

#reloadButton:hover {
  font-size: 22px;
}
