.connectFour{
  height:485px;
  padding:0 6% 6% 6%;
  width:160px;
  min-height:620px;
  margin:auto;
  margin-top:-42px;
}

.connectFour_container{
  background-color: transparent;
  width: 300px;
  text-align: center;
  position: absolute;
  z-index:3;
  margin: 82px 0 0 -70px;
  padding: 3% 3% 3% 0;
}

.connectFour_title{
  margin-bottom:10px;
}

.connectFour_interface{
  border: 2px solid black;
  height: 264px;
  width: 297px;
  position: relative;
  border-radius: 5px;
}

.connectFour_nodes{
  background-color:steelblue;
  height:16.7%;
}

.connectFour_controls_btns{
  border:none;
  border-radius:5px;
  margin:2px;
  min-width:40px;
}

.connectFour_controls_btns:hover{
  color:white;
  cursor:pointer;
}

.connectFour_scoreboard{
  border:1px solid gainsboro;
  margin-top:5px;
  border-radius:5px;
}

.connectFour_player_scores_container{
  border-bottom:1px solid gainsboro;
  text-align:center;
  width:100%;
}

.connectFour_player1_scores{
  border-right:1px solid gainsboro;
}

.connectFour_player1_scores, .connectFour_player2_scores{
  display:inline-block;
  width:49.5%;
}

.connectFour_player1_score{
  color:red;
}

.connectFour_player2_score{
  color:orange;
}

.connectFour_single_node{
  display:inline-block;
  border-radius:50%;
  height:68%;
  width:13%;
  margin-right:0.2%;
  margin-top:3%;
  content: ' ';
  background-color:white;
  position:relative;
}

.connectFour_single_node:hover{
  cursor:pointer;
  background-color:gainsboro;
}

.connectFour_message{
  color:steelblue;
  border-bottom:1px solid gainsboro;
  padding: 5px 0 5px 0;
}

.connectFour_yellow_coin{
  height: 30px;
  width: 26px;
}

.connectFour_red_mushroom{
  height: 30px;
  width: 30px;
}

.connectFour_gameover_reset, .connectFour_gameover_quit{
  border:none;
  border-radius:5px;
  margin:2px;
}

.connectFour_lakituBoard{
  width: 303px;
  text-align: center;
  border: 2px solid skyblue;
  background-size: 50px 50px;
  padding: 2%;
  margin: 120px 0 0 -87px;
  border-radius:8px;
}

.connectFour_lakituBoard_border{
  width:300px;
  text-align:center;
  border:2px solid skyblue;
  background-size: 50px 50px;
  border-radius:5px;
  /*padding:20%;
  margin: 120px 0 0 -86px;*/
}

.connectFour_gameover_container{
  margin-top: 120px;
  margin-left: -42%;
  background-color: oldlace;
  border: 2px solid black;
  padding: 30px;
  width: 233px;
  text-align: center;
}

.connectFour_gameover_winner{
  color:indianred;
  font-size:3em;
  padding:5px;
}

.connectFour_landing_title_text{
  margin-top:-20px;
}

.connectFour_mushroom_img{
  width:66%;
  margin-top:16%;
}

.connectFour_coin_img{
  width:52%;
  margin-top:16%;
}

.connectFour_lakitu_img{
  position: absolute;
  margin-top: -79px;
  margin-left: 67px;
  height: 35%;
  width: 30%;
  max-width: 142px;
  max-height: 174px;
  min-height: 180px;
  min-width:90px;
}

.connectFour_player_select_div{
  border: 2px solid skyblue;
  margin-top:2%;
  padding: 27% 5% 7vh 5%;
}

.connectFour_player_character_border{
  border-radius: 50%;
  border: 2px solid black;
  height: 60px;
  width: 60px;
}

.connectFour_player1_query, .connectFour_player2_query{
  width:218px;
  margin:auto;
}

.connectFour_player_select_container{
  display:inline-block;
  width:24%;
}

.connectFour_player1_query_container, .connectFour_player2_query_container{
  display:inline-block;
  width:76%;
}

.connectFour_name1_input, .connectFour_name2_input{
  text-align: center;
  font-size: 14px;
  border: none;
  border-bottom: 2px solid black;
}

.connectFour_name1_input:focus, .connectFour_name2_input:focus{
  outline:none;
}

.connectFour_player1_name_btn, .connectFour_player2_name_btn, .connectFour_player_quit_btn{
  border:2px solid black;
  border-radius:5px;
  margin-top:10px;
  width:50%;
  background-color:white;
  margin-right:2px;
}

.connectFour_player1_name_btn:hover, .connectFour_player2_name_btn:hover, .connectFour_player_quit_btn:hover{
  background-color:papayawhip;
  cursor:pointer;
}



@media (max-width: 490px){

  .connectFour_lakituBoard{
    /*padding:0 0 20px 0;*/
    margin: 120px 0 0 -76px;
  }

}
