.Board{
}

.Row{
  display: flex;
  flex-direction: row;
}

.Square{
  display: flex;
  flex-direction: column;
  height: 75px;
  width: 75px;
  margin: 0px;
  border: none;
  padding: 18px;
}

.BlackSquare{
  background-color: grey;
  color: black;
}

.WhiteSquare{
  background-color: white;
  color: black;
}

.Highlight{
  box-shadow:0px 0px 0px 4px red inset;
}

.White.King:after{
  content:"\2654";
  font-size:40px
}

.White.Queen:after{
  content:"\2655";
  font-size:40px
}

.White.Rook:after{
  content:"\2656";
  font-size:40px
}

.White.Bishop:after{
  content:"\2657";
  font-size:40px
}

.White.Knight:after{
  content:"\2658";
  font-size:40px
}

.White.Pawn:after{
  content:"\2659";
  font-size:40px
}

.Black.King:after{
  content:"\265A";
  font-size:40px
}

.Black.Queen:after{
  content:"\265B";
  font-size:40px
}

.Black.Rook:after{
  content:"\265C";
  font-size:40px
}

.Black.Bishop:after{
  content:"\265D";
  font-size:40px
}

.Black.Knight:after{
  content:"\265E";
  font-size:40px
}

.Black.Pawn:after{
  content:"\265F";
  font-size:40px
}
