.footer{
  position:relative;
  /*background-color:red;*/
}

/*.footer_container{
  background-color:green;
  margin-top:9px;
  padding-top:3.52%;
  position:absolute;
  width:100%;
}*/

.footer_container:after{
  content:'';
  border-top: solid 140px transparent;
  border-left: solid 100vw yellowgreen;
  /*background: repeating-linear-gradient( -45deg, #000 0px, #000 5px, #333 6px, #333 11px, #000 12px);*/
  background-color: rgb(137,216,230);
  background-image: linear-gradient(transparent 50%, rgb(173,216,230) 50%);
  background-size: 50px 15px;
  position: absolute;
  margin-top:-131px;
}

/*.footer_top_section {
  position:relative;
  background-color:#ddd;
  height:200px !important;
  width:100% !important;
  z-index: 1;
}*/

.footer_top_section:after{
  content:'';
  border-top: solid 140px transparent;
  border-right: solid 100vw orange;
  position: absolute;
  margin-top:-131px;
  /*border-left: solid 50vw transparent;*/
  /*top: 100%;
  left: 0;
  width: 0;
  height: 0;*/
}
