.tictactoe{
  height:485px;
  padding:0 6% 6% 6%;
  width:160px;
  margin:auto;
  margin-top:-42px;
}

.tictactoe_board_container{
  margin-top:70px;
}

.ttt_title{
  margin:auto;
  text-align:center;
  padding:10px;
}

.ttt_Square{
  border:2px solid grey;
  padding:8%;
  margin-bottom:2.5px;
  border-radius:5px;
  width:24px;
  font-size:2em;
  margin-right:2px;
  min-height:37px;
  min-width:28px;
}

.ttt_Square:hover{
  cursor:pointer;
  background-color:papayawhip;
}

.ttt_parent_column_container{
  text-align:center;
}

.ttt_first_column_container, .ttt_second_column_container, .ttt_third_column_container{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

.tictactoe_controls{
  border:2px solid grey;
  text-align:center;
  padding:5px;
  width:163px;
}

.ttt_reset, .ttt_quit{
  border:none;
  border-radius:5px;
  margin:2px;
}

.ttt_reset:hover, .ttt_quit:hover, .ttt_gameover_reset:hover, .ttt_gameover_quit:hover{
  color:white;
  cursor:pointer;
}

.ttt_player_container{
  padding-top:5px;
  padding-bottom:5px;
}

.ttt_player1_scores, .ttt_player2_scores{
  /*width:30%;*/
  padding: 0 7px 0 7px;
  display:inline-block;
}

.ttt_player1_score, .ttt_player2_score{
  border:1px solid black;
  height:20px;
  width:56%;
  margin:auto;
}

.ttt_player1_score{
  color:green;
}

.ttt_player2_score{
  color:red;
}

.ttt_landing_title_text{
  margin-top:-20px;
}

.ttt_koopaBoard{
  width:300px;
  text-align:center;
  border:2px solid rgb(120,69,19);
  background-image: linear-gradient(rgb(160,82,45) 50%, rgb(170,82,45) 50%);
  background-size: 50px 50px;
  padding:20%;
  margin: 120px 0 0 -86px;
}

.ttt_player1_title, .ttt_player2_title{
  padding-bottom:10px;
}

.ttt_player1_query, .ttt_player2_query{
  width:235px;
  margin:auto;
}

.ttt_name1_input, .ttt_name2_input{
  width:100%;
  margin-right:3px;
  padding:4px;
  margin-top:10px;
  text-align:center;
  font-size:20px;
}

.ttt_name1_input:focus, .ttt_name2_input:focus{
  outline:none;
}

.ttt_player1_name_btn, .ttt_player2_name_btn{
  border:2px solid black;
  border-radius:5px;
  margin-top:10px;
  width:50%;
  background-color:white;
}

.ttt_player1_name_btn:hover, .ttt_player2_name_btn:hover {
  background-color:papayawhip;
  cursor:pointer;
}

.ttt_ingame_message{
  color:orange;
}

.ttt_winning_colors{
  background-color: orange;
  padding: 31%;
  border-radius: 50%;
  margin-bottom: -13px;
  margin-left: -9px;
}

.ttt_gameover_reset, .ttt_gameover_quit{
  border:none;
  border-radius:5px;
  margin:2px;
}

.ttt_gameover_container{
  margin-top: 120px;
  margin-left: -42%;
  background-color: oldlace;
  border: 2px solid black;
  padding: 30px;
  width: 233px;
  text-align: center;
}

.ttt_gameover_winner{
  color:indianred;
  font-size:3em;
  padding:5px;
}

.ttt_gameover_title{
  margin-bottom: -10px;
}

@media (max-width: 490px){

  .ttt_koopaBoard{
    padding:0 0 20px 0;
    margin: 120px 0 0 -71px;
  }

}
